<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soldesk.healthproject.mapper.FreeCommentMapper">

<!-- 댓글 목록조회(READ) --><!-- 
	<select id="selectFreeCommentList" resultType="com.soldesk.healthproject.domain.FreeCommentVO">
		SELECT fcomment_number, fpost_number, fcomment, fcomment_writer, fcomment_register_date, freply_number, fcomment_delete_flag
		FROM project_health.free_comment
		ORDER BY fcomment_number DESC
	</select>  -->

 <!-- 특정 게시물에 대한 댓글 목록 조회: 페이징 고려 -->
<select id="selectFreeCommentList" 
			resultType="com.soldesk.healthproject.domain.FreeCommentVO"
			parameterType="com.soldesk.healthproject.common.paging.domain.FreeCommentPagingDTO">
	<![CDATA[
		SELECT lvl, fcomment_number, fpost_number, fcomment, fcomment_writer, fcomment_register_date, freply_nunmber, fcomment_delete_flag
		FROM ( 	SELECT /*+ INDEX(a IDX_fpost_number_fcomment_number_fcomment)  */ ROWNUM rn, LEVEL lvl, a.*
				FROM project_health.free_comment 
				WHERE fpost_number = #{fpost_number}
				AND ROWNUM <= (#{fpageNum} * #{rowAmountPerFreePage})
				START WITH freply_number IS NULL
				CONNECT BY PRIOR fcomment_number = freply_number
			  )
		WHERE rn >= ((#{pageNum} * #{rowAmountPerFreePage}) - (#{rowAmountPerFreePage} - 1))  

	]]>	
	</select>
	
<!-- 특정 게시물에 대한 댓글 등록 -->
	<insert id="insertFreeCommentForFreeBoard" parameterType="com.soldesk.healthproject.domain.FreeCommentVO">
		<selectKey keyProperty="fcomment_number" order="BEFORE" resultType="long">
			SELECT project_health.free_comment.NEXTVAL FROM dual 
		</selectKey>
	
	INSERT INTO project_health.free_comment
	VALUES (#{fcomment_number},#{fpost_number},#{fcomment},#{fcomment_writer},DEFAULT,#{freply_number},DEFAULT)	
	
	</insert>

<!-- 댓글에 대한 답글 등록(freply_number: 부모글의 fcomment_number 값) -->
	<insert id="insertFreeCommentForFreeComment" parameterType="com.soldesk.healthproject.domain.FreeCommentVO">
		<selectKey keyProperty="fcomment_number" order="BEFORE" resultType="long">
			SELECT project_health.free_comment.NEXTVAL FROM dual 
		</selectKey>
	
	INSERT INTO project_health.free_comment
	VALUES (#{fcomment_number},#{fpost_number},#{fcomment},#{fcomment_writer},DEFAULT,#{freply_number},DEFAULT)	
	</insert>
	
<!-- 특정 게시물에 대한 특정 댓글/답글 조회 -->
	<select id="selectFreeComment" resultType="com.soldesk.healthproject.domain.FreeCommentVO">
		SELECT fcomment_number, fpost_number, fcomment,  fcomment_writer, fcomment_register_date, freply_number, fcomment_delete_flag
		FROM project_health.free_comment
		WHERE fpost_number = #{fpost_number} AND fcomment_number = #{fcomment_number}	
	</select>
	
<!-- 특정 게시물에 대한 특정 댓글/답글 수정 -->
	<update id="updateFreeComment" parameterType="com.soldesk.healthproject.domain.FreeCommentVO">
		UPDATE project_health.free_comment
		SET fcomment = #{fcomment} ,
		WHERE fpost_number = #{fpost_number} AND fcomment_number = #{fcomment_number}
	</update>

<!-- 특정 게시물에 대한 특정 댓글/답글 삭제요청 -->
	<update id="updateFcommentDeleteFlag">
		UPDATE project_health.free_comment
		SET fcommentDeleteFlag = 1,
		WHERE fpost_number = #{fpost_number} AND fcomment_number = #{fcomment_number}
	</update>


<!-- 특정 게시물에 대한 모든 댓글 삭제 -->
	<delete id="deleteAllFreeComment">
		DELETE FROM project_health.free_comment
		WHERE fpost_number = #{fpost_number}
	</delete>

</mapper>