<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soldesk.healthproject.mapper.MemberMapper">

	<!-- 회원권 목록 조회 --><!--  
	<select id="selectMemberList" resultType="com.soldesk.healthproject.domain.MemberVO">
		SELECT member_id, member_name, member_register_date, ticket_number
		FROM project_health.tbl_member
	</select>-->
	
	<!-- 회원 목록 조회: 페이징 -->
	<select id="selectMemberList" resultType="com.soldesk.healthproject.domain.MemberVO"
	        parameterType="com.soldesk.healthproject.common.paging.domain.BoardPagingDTO">
		<![CDATA[
			SELECT member_id, member_name, member_email, member_register_date, member_delete_flag, ticket_number
			FROM ( SELECT /*+ INDEX_DESC (a pk_tbl_member) */ROWNUM rn, a.*
			       FROM project_health.tbl_member a
			       WHERE 
		]]>

		<choose>
			<when test="(beginDate != null and beginDate != '') and (endDate != null and endDate != '')">
			 	member_register_date BETWEEN TO_DATE(#{beginDate}, 'YYYY-MM-DD')
			 				 AND TO_DATE(#{endDate}, 'YYYY-MM-DD') AND
			</when>
		</choose>
		<trim prefix="(" suffix=") AND" prefixOverrides="OR" >
			<foreach item='scope' collection="myScopeArr">
				<trim prefix="OR">
					<choose>
						<when test="scope == 'I'.toString()">member_id LIKE '%'||#{keyword}||'%'</when>
						<when test="scope == 'N'.toString()">member_name LIKE '%'||#{keyword}||'%'</when>
					</choose>
				</trim> 
			</foreach>
		</trim>	 

		<![CDATA[	       
			       ROWNUM <= (#{pageNum} * #{rowAmountPerPage})
			       )
			 WHERE rn >= ((#{pageNum} * #{rowAmountPerPage}) - (#{rowAmountPerPage} - 1)) 
		]]>
	</select> 
	
	<!-- 게시물 총 개수 조회(페이징): -->	
	<select id="selectRowTotal" resultType="long"
	        parameterType="com.soldesk.healthproject.common.paging.domain.BoardPagingDTO" >
		SELECT COUNT(*) rowTotal FROM project_health.tbl_member
		<where>
			<trim prefix="(" suffix=")" prefixOverrides="OR">
				<foreach item='scope' collection="myScopeArr">
					<trim prefix="OR">
						<choose>
							<when test="scope == 'I'.toString()">member_id LIKE '%'||#{keyword}||'%'</when>
							<when test="scope == 'N'.toString()">member_name LIKE '%'||#{keyword}||'%'</when>
						</choose>
					</trim> 
				</foreach>
			</trim>
			<choose>
				<when test="(beginDate != null and beginDate != '') and (endDate != null and endDate != '')">
					AND member_register_date BETWEEN TO_DATE(#{beginDate}, 'YYYY-MM-DD')
				 		 		     AND TO_DATE(#{endDate}, 'YYYY-MM-DD')
				</when>
			</choose>	 
		</where>
	</select> 
	

	<resultMap type="com.soldesk.healthproject.domain.AuthorityVO" id="authorityMap">
		<result property="member_id" column="member_id" />
		<result property="authority" column="authority" />
	</resultMap>
	
	<resultMap type="com.soldesk.healthproject.domain.MemberVO" id="memberMap">
		<result property="member_id" column="member_id" />
		<result property="member_pw" column="member_pw" />
		<result property="member_email" column="member_email" />
		<result property="member_name" column="member_name" />
		<result property="member_birth" column="member_birth" />
		<result property="member_phonenumber" column="member_phonenumber" />
		<result property="member_register_date" column="member_register_date" />
		<result property="member_delete_flag" column="member_delete_flag" />
		<result property="member_enabled" column="member_enabled" />
		<result property="member_height" column="member_height" />
		<result property="member_weight" column="member_weight" />
		<result property="member_muscle_percent" column="member_muscle_percent" />
		<result property="member_fat_percent" column="member_fat_percent" />
		<result property="member_goal" column="member_goal" />
		<result property="ticket_number" column="ticket_number" />
		<result property="ticket_start_date" column="ticket_start_date" />
		<result property="ticket_end_date" column="ticket_end_date" />
		<collection property="authorityList" resultMap="authorityMap" />
	</resultMap>
	
	<!-- 특정 회원 조회(스프링 시큐리티도 사용함) -->
	<select id="selectMember" resultMap="memberMap">
		SELECT mem.member_id, member_pw, member_email, member_name, member_birth, member_phonenumber, member_register_date,
        	member_delete_flag, member_enabled, member_height, member_weight, member_muscle_percent, member_fat_percent,
        	member_goal, ticket_number, ticket_start_date, ticket_end_date, auth.authority
		FROM project_health.tbl_member mem INNER JOIN project_health.tbl_member_authority auth ON mem.member_id = auth.member_id
		WHERE mem.member_id = #{member_id}
	</select>
	
	<!-- 회원 등록: 회원 등록 시 회원 권한 추가도 같이 수행 -->
	<insert id="insertMember">
		INSERT INTO project_health.tbl_member
		VALUES (#{member_id}, #{member_pw}, #{member_email}, #{member_name}, #{member_birth}, #{member_phonenumber}, default, default, default,
				#{member_height}, #{member_weight}, #{member_muscle_percent}, #{member_fat_percent}, '체력개선', 'Ticket1', default, default)
	</insert>
	
	<!-- 회원 권한 추가 -->
	<insert id="insertMemberAuthority">
		INSERT INTO project_health.tbl_member_authority
		VALUES(#{member_id}, #{authority})
	</insert>
	
	<!-- 회원 정보 수정 -->
	<update id="updateMember" parameterType="com.soldesk.healthproject.domain.MemberVO">
		UPDATE project_health.tbl_member
		<set>
			member_name = #{member_name},
			member_phonenumber = #{member_phonenumber},
			member_height = #{member_height},
			member_weight = #{member_weight},
			member_muscle_percent = #{member_muscle_percent},
			member_fat_percent = #{member_fat_percent},
			member_goal = #{member_goal}
		</set>
		WHERE member_id = #{member_id}
	</update>
	
	<!-- 회원 비밀번호 변경 -->
	<update id="updateMemberPw" parameterType="com.soldesk.healthproject.domain.MemberVO">
		UPDATE project_health.tbl_member
		<set>
			member_pw = #{member_pw}
		</set>
		WHERE member_id = #{member_id}
	</update>
	
	<!-- 회원 탈퇴 (delete_flag = 'Y') -->
	<update id="deleteMember">
		UPDATE project_health.tbl_member
		<set>
			member_delete_flag = 'Y'
		</set>
		WHERE member_id = #{member_id}
	</update>
	
	<!-- 회원 탈퇴 취소(delete_flag = 'N') -->
	<update id="cancelMember">
		UPDATE project_health.tbl_member
		<set>
			member_delete_flag = 'N'
		</set>
		WHERE member_id = #{member_id}
	</update>
	
	<!-- 회원 권한 삭제 (db에서 삭제) -->
	<delete id="removeMemberAuthority">
		DELETE FROM project_health.tbl_member_authority
		WHERE member_id = #{member_id}
	</delete>
	
	<!-- 회원 삭제 (db에서 삭제) -->
	<delete id="removeMember">
		DELETE FROM project_health.tbl_member
		WHERE member_id = #{member_id}
	</delete>
	

</mapper>